@using WordCounter;

<h1>WordCounter</h1>
<ul>

@if (Model.CheckIfEmpty() == true)
{
  <p>You have not filled out all the forms yet! Click on the link below.</p>
}
@if(Model.CheckIfEmpty() == false)
{

  <p>The <em>number</em> of times you used <strong> @Model.GetWord()</strong><br> in the
  sentence <strong> @Model.GetSentence()</strong><br> issssssss: <strong>@Model.Count() </strong> times!</p>
}

</ul>
<a href="/wordcounter/new">Make a new sentence!</a>
