<h1> Welcome to Word Counter </h1>
<p> This is a game where a user will input a sentence and a word, which the program
    will return how many times the word occurs in the sentence!</p>
<a href='/wordcounter/new'>Start!</a>
